
body {
    padding-top: 200px;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
   Background-image: url("https://lh3.googleusercontent.com/patuhxVXGAqhUof982oIg4fh17RT3_oOZQ0nfrUCZUA-VL-Mr0GXWxwKgECELWPMPg");
}

.navbar-brand {
    color: white;	
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}
