
body {
    padding-top: 200px;
   /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
   Background-image: url("https://static.brusheezy.com/system/resources/previews/000/045/722/non_2x/grunge-white-skull-brush-photoshop-brushes.jpg");
}

.navbar-brand {
    color: white;	
}

footer {
    padding-top: 100px;
    margin: 50px 0;
}
